body,
html {
  font-family: "Inter";
  background-color: #295659;
  height: 100vh;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Bootstrap overrides */
.form-control:focus {
  border-color: #111111 !important;
  box-shadow: 0 0 0 0.15rem #fefce5b7;
}

.form-check-input:focus {
  border-color: #111111 !important;
  box-shadow: 0 0 0 0.15rem #fefce5b7;
}
