.signup-info {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-card {
  width: 640px;
  height: 580px;
  padding: 30px;
  color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #f9f9f9;
  border-radius: 10px;
}
.signup-card > h2 {
  margin-bottom: 50px;
}

.signup-form {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-weight: 200;
}

.signup-form > * {
  width: 100%;
}

.signup-form button {
  margin: 40px 0;
}
